

.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

}

.dashboardPane {
    padding: 0rem;
    max-height: 75vh;
    overflow-y: auto;
    padding: 0rem;
    border-radius: 12px;
    background:
        repeating-conic-gradient(
            #000000ce 0% 25%,
            #df3c3c 0% 50%
        )
        0 0 / 100px 100px;
    border: 1px solid #b91c1c;
}

.dashboardHeader {
    position: sticky;
    top: 0;
    background-color: #df3c3c;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 10px 10px 0 0;
    border-bottom: black 1px solid;
    margin: 0px;
}

.itemCard,
.inventoryTransactionCard,
.batchCard {
    background-color: black;
    border-radius: 10px;
    border: 1px #df3c3c solid;
    padding: 0rem;
    margin: 1rem;
    color: #ffffff;
    overflow: hidden;
}

.cardHeader{
    background-color: green;
    margin: 0rem;
    height: 100%;
    font-size: 2rem;
    padding: 0rem;

}

.cardHeader h3{
    margin: 0rem;
    padding: 0.5rem;
    font-size: 1.5rem;}

.headerGreen {
    background-color: rgb(43, 133, 43);
}

.headerRed {
    background-color: #db2424;
}
.approveTransButton {
    background-color: #df3c3c;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
}
