/*body {
    margin: 0;

    background:
        repeating-conic-gradient(
            #f4f4f4ce 0% 25%,
            #ef8383 0% 50%
        )
        0 0 / 300px 300px;
}
        */

.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

}

.dashboardPane {
    padding: 0rem;
    max-height: 75vh;
    overflow-y: auto;
    padding: 0rem;
    border-radius: 12px;
    background:
        repeating-conic-gradient(
            #f6d4d4ce 0% 25%,
            #df3c3c 0% 50%
        )
        0 0 / 100px 100px;
    border: 1px solid #b91c1c;
}

.dashboardHeader {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 10px 10px 0 0;
    border-bottom: black 1px solid;
    margin: 0px;
}

.itemCard,
.inventoryTransactionCard,
.batchCard {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px #df3c3c solid;
    padding: 0rem;
    margin: 1rem;
    color: #000000;
    overflow: hidden;
}

.cardHeader{
    background-color: green;
    margin: 0rem;
    height: 3rem;
    font-size: 2rem;
}

.cardHeader h3{
    margin: 0px;
}